.qtableview {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.qtableview-container {
    overflow-x: auto;
    height: 100%;
}

.qtableview td, .qtableview th, .qtableview {
    border: 1px solid #bbb;
}

.qtableview-header {
    background-color: #d9d9d9;
    font-weight: bold;
    text-align: center;
    padding: 2px 8px;
    border: 1px solid #bbb;
}

.qtableview-row:nth-child(even) {
    background-color: #e2e2e2;
}

.qtableview-cell {
    border: 1px solid #bbb;
    padding: 2px 8px;
    text-align: left;
}

.qtableview-cell:not(:first-child) {
    border-left: 0.5px solid #bbb;
}

.qtableview img {
    max-width: 100%;
}

.qt-designer-form-datetime > input {
    width: 50%;
}

.nvo-object-body {
    height: 100%;
    display: block;
}
.mincut-body {
    height: 100%;
}

.mincut-body > div.qt-designer-form,
.nvo-object-body > div.qt-designer-form {
    height: 100%;
}

.mincut-body > div.qt-designer-form > div.qt-designer-layout-grid,
.nvo-object-body > div.qt-designer-form > div.qt-designer-layout-grid {
    grid-template-rows: auto auto 1fr auto;
}

.mincut-body div.qt-designer-layout-grid div.qtableview {
    max-height: 370px;
    overflow: auto;
}

.mincut-body > div.qt-designer-form textarea,
.nvo-object-body > div.qt-designer-form textarea {
    resize: none;
}

.epa-manager-body  div.MuiTableContainer-root{
    max-width: 790px;
    max-height: 260px;
}

.dscenario-manager-body div.MuiTableContainer-root{
    max-width: 1050px;
    height: 200px;
}

.workspace-manager-body div.MuiTableContainer-root{
    height: 196px;
}

/* Bottom Table Container */
div.css-10gei56 {
    height: 124px;
}

.epa-manager-body textarea{
    resize: none;
    min-width: 250px;
}

.psector-manager-body div.MuiTableContainer-root{
    max-width: 1010px;
    max-height: 280px;
}

.visitmanager-body div.MuiTableContainer-root{
    max-height: 270px;
    max-width: 465px;
}

.nvo-manager-body div.MuiTableContainer-root{
    height: 200px;
    max-width: 890px;
}

input:invalid, select:invalid, textarea:invalid, input:not([type=checkbox]):not([type=radio]):not([type=range]):invalid {
   border: 2px solid red !important;
   background: var(--input-bg-color) !important;
}


div.qt-designer-form div.text-input-wrapper,
div.qt-designer-form div.text-input-wrapper > pre {
    min-height: 2em;
}

div.qt-designer-form div.TextInput,
div.qt-designer-form div.TextInput > pre {
    min-height: 2em;
}


div.qt-designer-form-tabbar {
    overflow-x: auto;

}



div.qt-designer-form-tabbar > span {
    padding: 0.25em;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    display: inline-block;
    background-color: var(--button-bg-color);
    height: 2em;
    display: inline-flex;
    align-items: center;
}


div.qt-designer-form-tabbar > span:last-child {
    border-right: 1px solid var(--border-color);

}

div.qt-designer-form-tabbar > span.qt-designer-form-tab-active {
    background-color: var(--button-bg-color-active);
    color: var(--button-text-color-active);

}
