.qtableview {
    width: 100%;
    border-collapse: collapse;
}

.qtableview-header {
    background-color: #d9d9d9;
    font-weight: bold;
    text-align: left;
    padding: 2px 8px;
    border: 1px solid #bbb;
}

.qtableview-row:nth-child(even) {
    background-color: #e2e2e2;
}

.qtableview-cell {
    border: 1px solid #bbb;
    padding: 2px 8px;
    text-align: left;
}

.qtableview-cell:not(:first-child) {
    border-left: 0.5px solid #bbb;
}

.qtableview img {
    max-width: 100%;
}

.qt-designer-form-datetime > input {
    width: 50%;
}

.mincut-body {
    height: 100%;
}

.mincut-body > div.qt-designer-form {
    height: 100%;
}

.mincut-body > div.qt-designer-form > div.qt-designer-layout-grid {
    grid-template-rows: auto auto 1fr auto;
}

.mincut-body div.qt-designer-layout-grid div.qtableview {
    max-height: 370px;
    overflow: auto;
}

.mincut-body > div.qt-designer-form textarea {
    resize: none;
}

.manager-body div.qt-designer-layout-grid {
    display: block;
}

.manager-body > div.qt-designer-form > div.qt-designer-layout-grid > div {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: auto;
}
