.qtableview {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.qtableview-container {
    overflow-x: auto;
    height: 100%;
}

.qtableview td, .qtableview th, .qtableview {
    border: 1px solid #bbb;
}

.qtableview-header {
    background-color: #d9d9d9;
    font-weight: bold;
    text-align: center;
    padding: 2px 8px;
    border: 1px solid #bbb;
}

.qtableview-row:nth-child(even) {
    background-color: #e2e2e2;
}

.qtableview-cell {
    border: 1px solid #bbb;
    padding: 2px 8px;
    text-align: left;
}

.qtableview-cell:not(:first-child) {
    border-left: 0.5px solid #bbb;
}

.qtableview img {
    max-width: 100%;
}

.qt-designer-form-datetime > input {
    width: 50%;
}

.nvo-object-body {
    height: 100%;
    display: block;
}
.mincut-body {
    height: 100%;
}

.mincut-body > div.qt-designer-form,
.nvo-object-body > div.qt-designer-form {
    height: 100%;
}

.mincut-body > div.qt-designer-form > div.qt-designer-layout-grid,
.nvo-object-body > div.qt-designer-form > div.qt-designer-layout-grid {
    grid-template-rows: auto auto 1fr auto;
}

.mincut-body div.qt-designer-layout-grid div.qtableview {
    max-height: 370px;
    overflow: auto;
}

.mincut-body > div.qt-designer-form textarea,
.nvo-object-body > div.qt-designer-form textarea {
    resize: none;
}

.epa-manager-body  div.MuiTableContainer-root{
    max-width: 870px;
}

.epa-manager-body div.css-10gei56{
    height: 100px;
}

.epa-manager-body textarea{
    resize: none;
    min-width: 250px;
}


.manager-body div.qt-designer-layout-grid,
.generic-manager-body div.qt-designer-layout-grid {
    display: block;
}

.manager-body > div.qt-designer-form > div.qt-designer-layout-grid > div,
.generic-manager-body > div.qt-designer-form > div.qt-designer-layout-grid > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

input:invalid, select:invalid, textarea:invalid, input:not([type=checkbox]):not([type=radio]):not([type=range]):invalid {
   border: 2px solid red !important;
   background: var(--input-bg-color) !important;
}
